$primary: #F2994A;
$secondary: #4C27BF;
$dark: #242424;

$text-light: rgba(0, 0, 0, 0.74);
$text-gray: rgba(0, 0, 0, 0.51);

.background-head{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 30%;
    background-color: $primary;
}

.card-detail{
    margin: 32px 30px;
    background-color: white;
    border-radius: 5px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    min-height: 600px;
    > .question{
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.09);
        border-radius: 5px;
        margin-top: 82px;
        padding: 24px;
        .avatar{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            img{
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            }
            padding-right: 20px;
        }
        .content{
            .text{
                display: flex;
                flex-direction: column;
                .question{
                    font-size: 1.25em;
                }
                .date{
                    font-size: 0.75em;
                    margin-top: 8px;
                    color: $text-gray;
                }
            }
            .comments{
                margin-top: 32px;
            }
        }
    }
    > .responses {
        padding-top: 32px;
    }
    > .submit {
        padding: 18px 0;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input{
            border: 1px solid rgba(0, 0, 0, 0.09);
            border-radius: 5px;
            font-size: 1em;
            padding: 8px;
            flex-grow: 1;
        }
        button {
            width: 152px;
            height: 36px;
            color: white;
            background-color: $primary;
            border: none;
            border-radius: 5px;
            margin-left: 32px;
        }
    }
    .response{
        border: 1px solid rgba(0, 0, 0, 0.09);
        border-radius: 5px;
        padding: 0 24px;
        .content{
            display: flex;
            .avatar{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                  width: 24px;
                  height: 24px;
                  background-color: gray;
                  border-radius: 50%;
                }
                padding-right: 20px;
            }
            .text{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .count{
                margin-left: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 8px;
                font-size: 0.75em;
                color: $text-gray;
            }
        }
    }
}