$primary: #F2994A;
$secondary: #4C27BF;
$dark: #242424;

$text-light: rgba(0, 0, 0, 0.74);
$text-gray: rgba(0, 0, 0, 0.51);

a{
    text-decoration: none;
    color: inherit;
}
header{
    height: 72px;
    background: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 39px;
    .tabs{
        align-self: flex-end;
        display: flex;
        button{
            width: 200px;
            background-color: rgba(255, 255, 255, 0.48);
            color: white;
            border: none;
            border-radius: 5px 5px 0 0;
            padding: 12px 16px;
            display: flex;
            justify-content: space-between;
            &.active{
                background-color: white;
                color: inherit;
            }
        }
    }
    .actions{
      .add {
        width: 154px;
        height: 36px;
        background-color: $secondary;
        border: none;
        color: white;
        border-radius: 5px;
      }
    }
}
.list-content{
    padding: 0 55px;
    >.list{
        >.title{
            margin: 24px 0;
            font-size: 1em;
        }
    }
}
.card{
    background: #FBFBFB;
    border-radius: 5px;
    .content{
        display: flex;
        height: 72px;
        padding: 0 16px;
        .avatar{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            }
            padding-right: 16px;
        }
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
              padding-top: 8px;
              font-size: 12px;
              color: $text-light;
            }
        }
        .count{
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 16px;
            color: $text-light;
            font-style: italic;
        }
    }
}
