$primary: #F2994A;
$secondary: #4C27BF;
$dark: #242424;

$text-light: rgba(0, 0, 0, 0.74);
$text-gray: rgba(0, 0, 0, 0.51);

a{
    text-decoration: none;
    color: inherit;
}
header{
    height: 72px;
    background: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 39px;
    .tabs{
        align-self: flex-end;
        display: flex;
        button{
            width: 200px;
            background-color: rgba(255, 255, 255, 0.48);
            color: white;
            border: none;
            border-radius: 5px 5px 0 0;
            padding: 12px 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &.active{
                background-color: white;
                color: inherit;
            }
            .count{
                padding: 5px 14px;
                border-radius: 14px;
                background-color: #333333;
                color: white;
            }
        }
    }
    .actions{
      .add {
        width: 154px;
        height: 36px;
        background-color: $dark;
        border: none;
        color: white;
        border-radius: 5px;
      }
    }
}
.list-content{
    padding: 0 55px;
    >.list{
        >.title{
            margin: 24px 0;
            font-size: 1em;
            color: $text-gray;
            font-weight: normal;
        }
    }
}
.card{
    background: #FBFBFB;
    border-radius: 5px;
    margin-bottom: 8px;
    border-left: 4px solid #D1D1D1;
    &.release{
        border-left: 4px solid #31CA3A;
    }
    .content{
        display: flex;
        height: 72px;
        padding: 0 16px;
        .avatar{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
              width: 24px;
              height: 24px;
              background-color: gray;
              border-radius: 50%;
            }
            padding-right: 16px;
        }
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
              padding-top: 8px;
              font-size: 12px;
              color: $text-light;
            }
            a:hover{
                color: #2D9CDB;
            }
        }
        .count{
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 16px;
            color: $text-light;
            font-style: italic;
        }
    }
}

.add-isssue-modal-blur{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.34);
}
.add-isssue-modal{
    position: fixed;
    top: 18%;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    border-radius: 5px;
    background-color: white;
    padding: 32px;
    .inputs{
        display: flex;
        flex-direction: column;
        input, textarea{
            font-size: 1em;
            border: 1px solid rgba(0, 0, 0, 0.09);
            border-radius: 5px;
            font-size: 1em;
            padding: 8px;
            margin: 8px 0;
            &:last-child{
                height: 60px;
            }
        }
    }
    .actions{
        display: flex;
        justify-content: space-between;
        padding-top: 48px;
        span{
            color: $text-gray;
        }
        .toggle{
            display: flex;
            align-items: center;
            select{
                font-size: 1em;
                border: 1px solid rgba(0, 0, 0, 0.09);
                border-radius: 5px;
                font-size: 1em;
                padding: 8px;
                margin: 0 8px;
            }
        }
        input[type="submit"] {
            width: 152px;
            height: 36px;
            color: white;
            background-color: $secondary;
            border: none;
            border-radius: 5px;
            margin-left: 32px;
        }
    }
}